@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: var(--primary-color);
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 10%;
    --primary-color: rgb(59, 130, 246); /* Blue by default */
  }

  .dark {
    --background: 0 0% 10%;
    --foreground: 0 0% 98%;
  }

  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }
}

